/*******************/
/* toaster */
/*******************/
.toaster {
	display: flex;
	justify-content: initial;
	align-items: center;
    padding: 16px;
	border-radius: 5px;
	min-width: 350px;
	max-width: 100%;
	z-index: 1;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    box-sizing: border-box;
}

.toaster + .toaster{
	margin-top: 10px;
}

  /* variants (types) */

  /* positions */

.toaster.bottom-right{
	animation: slidein-from-right .3s forwards;
}

.toaster.bottom-left{
	animation: slidein-from-left .3s forwards;
}

  /*********/
  /* animations */
  /*********/

.toaster.bottom-right.close {
	animation: slideout-to-right .3s forwards;
}

.toaster.bottom-left.close {
	animation: slideout-to-left .3s forwards;
}

.toaster .icon.close {
	position: absolute;
	cursor: pointer;
	top: 13px;
	right: 15px;
    color: #fff;
    font-style: normal;
}

.toaster.info {
	background: blue;
}

.toaster.success {
	background: #43a047;
}

.toaster.error {
	background: red;
}

.toaster.warning {
	background: yellow;
}

.toaster .icon-type {
	padding-top: 5px;
	align-self: flex-start;
}

.toaster .icon-type .icon {
	color: gray;
	font-size: 15px;
}

.toaster .content {
	padding: 0;
	background: transparent;
}

.toaster .content .message {
    color: #fff;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    letter-spacing: 0.01em;
}

@keyframes slideout-to-right {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(400px);
	}
}

@keyframes slidein-from-right {
	from {
		transform: translateX(400px);
	}

	to {
		transform: translateX(0);
	}
}

/* from bottom left */
@keyframes slidein-from-left {
	from {
		transform: translateX(-400px);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slideout-to-left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-400px);
	}
}